<div class="container">
  <form [formGroup]="form">
    <div class="form-group row mt-3">
      <label for="name" class="col-3 col-form-label">品名</label>
      <div class="col-5">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="unit" class="col-3 col-form-label">單位(顆)</label>
      <div class="col-5">
        <input type="number" class="form-control" id="unit" formControlName="unit">
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="price" class="col-3 col-form-label">售價</label>
      <div class="col-5">
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="memo" class="col-3 col-form-label">備註</label>
      <div class="col-5">
        <input type="text" class="form-control" id="memo" formControlName="memo">
      </div>
    </div>
    <div class="col-8 mt-5 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" (click)="doEdit()">{{ isAdd ? "新增": "儲存" }}</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-danger" *ngIf="!isAdd" (click)="doDelete()">刪除</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-secondary" (click)="back()">取消</button>
    </div>
  </form>
</div>
